body {
	font-family: 'Raleway', sans-serif;
}
nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 20px 30px;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	color: #fff !important;
	text-transform: uppercase;
	text-align: center;
}

.jumbotron {
	background-image: url(https://download.unsplash.com/photo-1421284621639-884f4129b61d);
	background-size: cover;
	height: 800px;
	/*opacity: 0.6;*/
}

h1 {
	font-size: 50px;
	padding-top: 100px;
}

