body {
	font-family: 'Raleway', sans-serif;
	padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	color: #fde36e;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

/*Header Section********************************/

.navbar {
	height: 70px;
}

nav {
	background: #fff;
}

nav a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #fde36e;
	margin: 0 30px;
}

.navlink:hover {
	border-top: 2px solid #fff;
	text-decoration: none;
	color: #fde36e;
}

/*Jumbotron Section********************************/

.jumbotron {
	background-image: url(https://download.unsplash.com/photo-1421284621639-884f4129b61d);
	background-size: cover;
	height: 800px;
} 

.jumbo-text {
	color: #fff;
	margin-top: 70px;
}

h1 small {
	color: #fde36e;
}

/*About Me Section********************************/
#page1 {
	margin-top: 100px;
	height: 600px;
	
}

.about-me-text {
	width:50%;
	float: right;
	margin-right: 100px;
}

/*Portfolio Section********************************/
#page2 {
	height: 600px;
}

.portfolio h1, .contact-section h1 {
	margin-bottom: 75px;
}


/*Contact Section********************************/
/*#page3 {

}*/

.contact-section {
	background-image: url(https://download.unsplash.com/reserve/vof4H8A1S02iWcK6mSAd_sarahmachtsachen.com_TheBeach.jpg);
	background-size: cover;
	height: 500px;
}

.contact-section h1 {
	color: #333;
	padding-top: 50px;
}

form {
	margin-top: 50px;
	max-width: 60%;
	margin: auto;
}

/*Footer/ Social Media Section********************************/
.social-media ul {
	text-align: center;
	margin-top: 20px;
}

.social-media li { 
	display: inline-block;
	padding: 0 30px;
}

.social-media li a {
	color: #333;
}

.social-media li a:hover {
	
}

.footer .copyright {
	margin-top: 40px;
	padding: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #333;
}

.social-media {
	background: #fde36e;
}



